/* This file is part of pop-gtk-theme Copyright (C) 2016-2017 Tista <tista.gma500@gmail.com> This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version. */
* { transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 0.2s; }

stage { font-size: 10pt; color: #f2f2f2; font-family: Noto Sans, Cantarell, Sans-Serif; font-weight: 400; }

.label-shadow { color: transparent; }

.menu #notification .notification-button, .menu #notification .notification-icon-button, .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button, .sound-button { border-color: transparent; color: rgba(242, 242, 242, 0.75); background-color: transparent; box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; min-height: 2em; padding: 7px 16px 8px; border-width: 0; font-weight: 500; }

.menu #notification .notification-button:focus, .menu #notification .notification-icon-button:focus, .popup-menu #notification .notification-button:focus, .popup-menu #notification .notification-icon-button:focus, .sound-button:focus { color: #f2f2f2; box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.menu #notification .notification-button:hover, .menu #notification .notification-icon-button:hover, .popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover, .menu-favorites-button:hover, .menu-application-button-selected, .menu-category-button-hover, .sound-button:hover { border-color: transparent; color: #f2f2f2; background-color: rgba(242, 242, 242, 0.07); box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.menu #notification .notification-button:active, .menu #notification .notification-icon-button:active, .popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active, .sound-button:active { border-color: transparent; color: #f2f2f2; background-color: rgba(242, 242, 242, 0.15); box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.menu #notification .notification-button:insensitive, .menu #notification .notification-icon-button:insensitive, .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive, .sound-button:insensitive { border-color: transparent; color: rgba(242, 242, 242, 0.3); background-color: transparent; box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.menu #notification .notification-button, .menu #notification .notification-icon-button, .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button, .sound-button, .menu #notification .notification-button:focus, .menu #notification .notification-icon-button:focus, .popup-menu #notification .notification-button:focus, .popup-menu #notification .notification-icon-button:focus, .sound-button:focus, .menu #notification .notification-button:hover, .menu #notification .notification-icon-button:hover, .popup-menu #notification .notification-button:hover, .popup-menu #notification .notification-icon-button:hover, .menu-favorites-button:hover, .menu-application-button-selected, .menu-category-button-hover, .sound-button:hover, .menu #notification .notification-button:hover:focus, .menu #notification .notification-icon-button:hover:focus, .popup-menu #notification .notification-button:hover:focus, .popup-menu #notification .notification-icon-button:hover:focus, .menu-favorites-button:focus:hover, .menu-application-button-selected:focus, .menu-category-button-hover:focus, .sound-button:hover:focus, .menu #notification .notification-button:active, .menu #notification .notification-icon-button:active, .popup-menu #notification .notification-button:active, .popup-menu #notification .notification-icon-button:active, .sound-button:active, .menu #notification .notification-button:active:focus, .menu #notification .notification-icon-button:active:focus, .popup-menu #notification .notification-button:active:focus, .popup-menu #notification .notification-icon-button:active:focus, .sound-button:active:focus, .menu #notification .notification-button:insensitive, .menu #notification .notification-icon-button:insensitive, .popup-menu #notification .notification-button:insensitive, .popup-menu #notification .notification-icon-button:insensitive, .sound-button:insensitive { border-radius: 2px; }

.notification-button, .notification-icon-button, .modal-dialog-button-box .modal-dialog-button { border-color: transparent; color: rgba(242, 242, 242, 0.75); background-color: transparent; box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; min-height: 2.5em; padding: 9px 16px 10px; border-radius: 2px; }

.notification-button:focus, .notification-icon-button:focus, .modal-dialog-button-box .modal-dialog-button:focus { color: #f2f2f2; box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.notification-button:hover, .notification-icon-button:hover, .modal-dialog-button-box .modal-dialog-button:hover { border-color: transparent; color: #f2f2f2; background-color: rgba(242, 242, 242, 0.2); box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.notification-button:active, .notification-icon-button:active, .modal-dialog-button-box .modal-dialog-button:active { border-color: transparent; color: #f2f2f2; background-color: rgba(242, 242, 242, 0.4); box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.notification-button:insensitive, .notification-icon-button:insensitive, .modal-dialog-button-box .modal-dialog-button:insensitive { border-color: transparent; color: rgba(242, 242, 242, 0.3); background-color: transparent; box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.menu #notification StEntry, .popup-menu #notification StEntry, #menu-search-entry, .panel-launcher-add-dialog-entry { border-color: transparent; background-color: rgba(0, 0, 0, 0.01); box-shadow: inset 0 -1px rgba(242, 242, 242, 0.15); padding: 7px 8px 8px; caret-size: 1px; border-radius: 0; border-width: 0; color: #f2f2f2; transition: none; selection-background-color: #48B9C7; selected-color: #f2f2f2; }

.menu #notification StEntry:focus, .popup-menu #notification StEntry:focus, #menu-search-entry:focus, .panel-launcher-add-dialog-entry:focus, .menu #notification StEntry:focus:hover, .popup-menu #notification StEntry:focus:hover, #menu-search-entry:focus:hover, .panel-launcher-add-dialog-entry:focus:hover { border-color: transparent; box-shadow: inset 0 -2px #FAA41A; }

.menu #notification StEntry:hover, .popup-menu #notification StEntry:hover, #menu-search-entry:hover, .panel-launcher-add-dialog-entry:hover { border-color: transparent; box-shadow: inset 0 -2px rgba(242, 242, 242, 0.15); }

.menu #notification StEntry:insensitive, .popup-menu #notification StEntry:insensitive, #menu-search-entry:insensitive, .panel-launcher-add-dialog-entry:insensitive { border-color: transparent; color: rgba(242, 242, 242, 0.4); box-shadow: inset 0 -1px rgba(242, 242, 242, 0.06); }

.menu #notification StEntry StIcon.capslock-warning, .popup-menu #notification StEntry StIcon.capslock-warning, #menu-search-entry StIcon.capslock-warning, .panel-launcher-add-dialog-entry StIcon.capslock-warning { icon-size: 16px; padding: 0 2px; warning-color: #ffce51; }

.notification StEntry { border-color: transparent; background-color: rgba(0, 0, 0, 0.01); box-shadow: inset 0 -1px rgba(242, 242, 242, 0.15); padding: 7px 8px 8px; border-radius: 0; border-width: 0; color: #f2f2f2; caret-size: 1px; caret-color: #f2f2f2; selection-background-color: #48B9C7; selected-color: #f2f2f2; }

.notification StEntry:hover { border-color: transparent; box-shadow: inset 0 -2px rgba(242, 242, 242, 0.15); }

.notification StEntry:focus { border-color: transparent; box-shadow: inset 0 -2px #FAA41A; }

.notification StEntry:insensitive { border-color: transparent; color: rgba(242, 242, 242, 0.4); box-shadow: inset 0 -1px rgba(242, 242, 242, 0.06); }

StScrollView.vfade { -st-vfade-offset: 0; }

StScrollView.hfade { -st-hfade-offset: 0; }

StScrollBar { padding: 0; }

StScrollView StScrollBar { min-width: 0.45em; min-height: 0.45em; }

StScrollBar StBin#trough { margin: 0; border-radius: 0; background-color: #413e3c; }

StScrollBar StButton#vhandle, StScrollBar StButton#hhandle { margin: 0; border-radius: 0; background-color: rgba(242, 242, 242, 0.28); }

StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover { background-color: rgba(242, 242, 242, 0.41); }

StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active { background-color: #f2f2f2; }

.separator { height: 1px; margin: 0.6em 0.4em; border-color: rgba(0, 0, 0, 0.13); border-bottom-width: 1px; border-bottom-style: solid; background-color: transparent; }

.popup-slider-menu-item, .slider { height: 16px; border: 0 solid transparent; border-right-width: 1px; border-left-width: 5px; color: #FAA41A; -slider-height: 2px; -slider-background-color: rgba(242, 242, 242, 0.15); -slider-border-color: transparent; -slider-active-background-color: #FAA41A; -slider-active-border-color: transparent; -slider-border-width: 0; -slider-handle-radius: 8px; }

.check-box CinnamonGenericContainer { spacing: 0.2em; min-height: 30px; padding-top: 2px; }

.check-box StLabel { font-weight: 500; }

.check-box StBin { width: 16px; height: 16px; background-image: url("assets/checkbox/checkbox-unchecked.svg"); }

.check-box:checked StBin { background-image: url("assets/checkbox/checkbox-checked.svg"); }

.radiobutton CinnamonGenericContainer { height: 26px; spacing: 0.2em; padding-top: 2px; }

.radiobutton StLabel { font-size: 9pt; padding-top: 4px; }

.radiobutton StBin { width: 16px; height: 16px; background-image: url("assets/checkbox/radiobutton-unchecked.svg"); }

.radiobutton:checked StBin { background-image: url("assets/checkbox/radiobutton-checked.svg"); }

.toggle-switch { width: 40px; height: 20px; background-size: contain; }

.toggle-switch-us, .toggle-switch-intl { background-image: url("assets/switch/switch-off.svg"); }

.toggle-switch-us:checked, .toggle-switch-intl:checked { background-image: url("assets/switch/switch-on.svg"); }

.cinnamon-link { border-radius: 2px; color: #faa41a; text-decoration: underline; }

.cinnamon-link:hover { color: #faa41a; background-color: rgba(250, 164, 26, 0.1); }

.cinnamon-link:active { color: #faa41a; background-color: rgba(250, 164, 26, 0.2); }

#Tooltip { font-size: 10pt; padding: 4px 12px; border-radius: 2px; background-color: rgba(70, 63, 59, 0.9); color: #f2f2f2; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.28); font-weight: 400; text-align: center; }

.menu { padding: 0; background-color: #574f4a; color: rgba(242, 242, 242, 0.75); }

.popup-menu, .menu { min-width: 0; padding: 0; border-width: 3px; border-image: url("assets/menu/menu.svg") 9 9 9 9; color: rgba(242, 242, 242, 0.75); }

.popup-menu-arrow, .menu-arrow { icon-size: 16px; }

.popup-menu .popup-sub-menu, .menu .popup-sub-menu { min-width: 0; border-image: url("assets/menu/submenu.svg") 9 9 0 0; background-gradient-direction: none; box-shadow: 0 0 transparent; }

.popup-menu .popup-sub-menu .popup-menu-item:ltr, .menu .popup-sub-menu .popup-menu-item:ltr { padding-right: 0; }

.popup-menu .popup-sub-menu .popup-menu-item:rtl, .menu .popup-sub-menu .popup-menu-item:rtl { padding-left: 0; }

.popup-menu .popup-sub-menu StScrollBar, .menu .popup-sub-menu StScrollBar { padding: 4px; }

.popup-menu .popup-sub-menu StScrollBar StBin#trough, .popup-menu .popup-sub-menu StScrollBar StBin#vhandle, .menu .popup-sub-menu StScrollBar StBin#trough, .menu .popup-sub-menu StScrollBar StBin#vhandle { border-width: 0; }

.popup-menu .popup-menu-content, .menu .popup-menu-content { padding: 1em 0 1em 0; }

.popup-menu .popup-menu-item, .menu .popup-menu-item { min-width: 120px; padding: 0.4em 1.75em; spacing: 1em; border-width: 0 1px; color: rgba(242, 242, 242, 0.75); }

.popup-menu .popup-menu-item:active, .menu .popup-menu-item:active { border-image: url("assets/menu/menu-hover.svg") 9 9 0 0; color: #f2f2f2; background-color: transparent; }

.popup-menu .popup-menu-item:insensitive, .menu .popup-menu-item:insensitive { color: rgba(242, 242, 242, 0.5); background: none; }

.popup-menu .popup-inactive-menu-item, .menu .popup-inactive-menu-item { color: rgba(242, 242, 242, 0.75); }

.popup-menu .popup-inactive-menu-item:insensitive, .menu .popup-inactive-menu-item:insensitive { color: rgba(242, 242, 242, 0.4); }

.popup-menu-icon, .menu-icon { icon-size: 16px; }

.popup-menu-boxpointer { -arrow-border-radius: 0; -arrow-background-color: transparent; -arrow-border-width: 0; -arrow-border-color: transparent; -arrow-base: 0; -arrow-rise: 0; -arrow-box-shadow: 0 0 transparent; margin: 0.4em 0.5em 0.5em; border-radius: 2px; border-top: 1px solid #413e3c; background-color: #574f4a; box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3); }

.popup-combo-menu { padding: 1em; border: 1px solid rgba(0, 0, 0, 0.13); border-radius: 2px; color: #f2f2f2; background-color: rgba(70, 63, 59, 0.9); }

.popup-combobox-item { spacing: 1em; }

.popup-separator-menu-item { height: 1px; margin: 0.6em 0.4em; border-color: rgba(0, 0, 0, 0.13); border-bottom-width: 1px; border-bottom-style: solid; background-color: transparent; -gradient-start: transparent; -gradient-end: transparent; }

.popup-alternating-menu-item:alternate { font-weight: 500; }

.popup-device-menu-item { spacing: 0.5em; }

.popup-subtitle-menu-item { font-weight: 500; }

.nm-menu-item-icons { spacing: 0.5em; }

#panel { font-size: 10pt; height: 28px; width: 32px; color: rgba(242, 242, 242, 0.75); background-color: #161413; font-weight: 700; }

#panel:highlight { background-color: rgba(250, 164, 26, 0.25); }

#panelLeft, .panelLeft { spacing: 4px; }

#panelLeft:dnd, .panelLeft:dnd { background-gradient-direction: vertical; background-gradient-start: rgba(241, 93, 34, 0.4); background-gradient-end: rgba(241, 93, 34, 0.4); }

#panelLeft:ltr, .panelLeft:ltr { padding-right: 4px; }

#panelLeft:rtl, .panelLeft:rtl { padding-left: 4px; }

#panelLeft.vertical, .panelLeft.vertical { padding: 0; spacing: 0; }

#panelRight:dnd, .panelRight:dnd { background-gradient-direction: vertical; background-gradient-start: rgba(250, 164, 26, 0.4); background-gradient-end: rgba(250, 164, 26, 0.4); }

#panelRight:ltr, .panelRight:ltr { padding-left: 4px; spacing: 0; }

#panelRight:rtl, .panelRight:rtl { padding-right: 4px; spacing: 0; }

#panelRight.vertical, .panelRight.vertical { padding: 0; spacing: 0; }

#panelCenter, .panelCenter { spacing: 4px; }

#panelCenter:dnd, .panelCenter:dnd { background-gradient-direction: vertical; background-gradient-start: rgba(115, 196, 143, 0.4); background-gradient-end: rgba(115, 196, 143, 0.4); }

#panelCenter.vertical, .panelCenter.vertical { padding: 0; spacing: 0; }

.panel { padding: 0; }

.panel-dummy { background-color: rgba(22, 20, 19, 0.4); }

.panel-dummy:entered { background-color: rgba(250, 164, 26, 0.25); }

.panel-status-button { height: 22px; -natural-hpadding: 3px; -minimum-hpadding: 3px; border-width: 0; font-weight: 700; color: rgba(242, 242, 242, 0.75); }

.panel-status-button:hover { color: #f2f2f2; }

.panel-button { -natural-hpadding: 6px; -minimum-hpadding: 3px; color: rgba(242, 242, 242, 0.75); font-weight: 700; transition-duration: 0.2s; }

.panel-button:hover, .panel-button:active { color: #f2f2f2; background-color: rgba(0, 0, 0, 0.01); }

.panel-top .panel-button:hover, .panel-top .panel-status-button:hover { box-shadow: inset 0 2px 0 rgba(242, 242, 242, 0.4); }

.panel-top .panel-button:active, .panel-top .panel-status-button:active { box-shadow: inset 0 2px 0 #FAA41A; }

.panel-bottom .panel-button:hover, .panel-bottom .panel-status-button:hover { box-shadow: inset 0 -2px 0 rgba(242, 242, 242, 0.4); }

.panel-bottom .panel-button:active, .panel-bottom .panel-status-button:active { box-shadow: inset 0 -2px 0 #FAA41A; }

.panel-left .panel-button, .panel-left .panel-status-button { -natural-hpadding: 0; -minimum-hpadding: 0; -natural-vpadding: 2px; -minimum-vpadding: 2px; }

.panel-left .panel-button:hover, .panel-left .panel-status-button:hover { box-shadow: inset 2px 0 0 rgba(242, 242, 242, 0.4); }

.panel-left .panel-button:active, .panel-left .panel-status-button:active { box-shadow: inset 2px 0 0 #FAA41A; }

.panel-right .panel-button, .panel-right .panel-status-button { -natural-hpadding: 0; -minimum-hpadding: 0; -natural-vpadding: 2px; -minimum-vpadding: 2px; }

.panel-right .panel-button:hover, .panel-right .panel-status-button:hover { box-shadow: inset -2px 0 0 rgba(242, 242, 242, 0.4); }

.panel-right .panel-button:active, .panel-right .panel-status-button:active { box-shadow: inset -2px 0 0 #FAA41A; }

.panel StIcon { icon-size: 16px; }

.panel-corner, .panel-corner:active, .panel-corner:overview, .panel-corner:focus { -panel-corner-radius: 0; -panel-corner-background-color: #161413; -panel-corner-inner-border-width: 0; -panel-corner-inner-border-color: transparent; -panel-corner-outer-border-width: 0; -panel-corner-outer-border-color: transparent; }

.system-status-icon { icon-size: 16px; margin: 0; spacing: 0; padding-left: 0; padding-right: 0; }

.system-status-icon.warning { color: #ffce51; }

.system-status-icon.error { color: #f15d22; }

#overview { spacing: 12px; }

.window-caption { -cinnamon-caption-spacing: 12px; spacing: 25px; padding: 4px 8px; border-radius: 2px; color: #f2f2f2; background-color: rgba(70, 63, 59, 0.9); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22); }

.window-caption#selected { spacing: 25px; color: #f2f2f2; background-color: rgba(242, 242, 242, 0.2); box-shadow: 0 3px 4px rgba(0, 0, 0, 0.28); }

.workspace-controls { visible-height: 32px; }

.workspace-thumbnails { spacing: 26px; }

.workspace-thumbnails-background, .workspace-thumbnails-background:rtl { padding: 8px; }

.workspace-thumbnail-indicator { outline: 0 none transparent; border: 2px solid #FAA41A; }

.workspace-add-button { height: 200px; width: 35px; background-image: url("assets/misc/add-workspace.svg"); transition-duration: 0.2s; }

.workspace-add-button:hover { background-image: url("assets/misc/add-workspace-hover.svg"); transition-duration: 0.2s; }

.workspace-add-button:active { background-image: url("assets/misc/add-workspace-active.svg"); transition-duration: 0.2s; }

.workspace-overview-background-shade { background-color: rgba(0, 0, 0, 0.5); }

.workspace-close-button, .window-close { height: 36px; width: 36px; -cinnamon-close-overlap: 24px; background-image: url("assets/misc/close.svg"); background-size: 36px; }

.workspace-close-button:hover, .window-close:hover { height: 36px; width: 36px; background-image: url("assets/misc/close-hover.svg"); background-size: 36px; }

.workspace-close-button:active, .window-close:active { height: 36px; width: 36px; background-image: url("assets/misc/close-active.svg"); background-size: 36px; }

.window-close-area { width: 400px; height: 120px; background-image: url("assets/misc/trash-icon.svg"); }

.overview-icon { padding: 9px; border: none; border-radius: 2px; color: #f2f2f2; transition-duration: 0.2s; text-align: center; }

.overview-icon StLabel { padding-top: 6px; }

#LookingGlassDialog { spacing: 4px; padding: 6px; border: none; border-radius: 2px; background-color: rgba(70, 63, 59, 0.9); color: #f2f2f2; box-shadow: 0 8px 10px rgba(0, 0, 0, 0.34); }

.calendar { padding: 0.4em 1.75em; spacing-rows: 0; spacing-columns: 0; }

.calendar-month-label { font-size: 8pt; margin: 8px 2px; padding: 0.2em 0 0; color: #f2f2f2; font-weight: 400; }

.calendar-change-month-back, .calendar-change-month-forward { width: 16px; height: 16px; padding: 2px; border-radius: 100px; }

.calendar-change-month-back:focus, .calendar-change-month-back:hover, .calendar-change-month-forward:focus, .calendar-change-month-forward:hover { background-color: rgba(242, 242, 242, 0.07); }

.calendar-change-month-back:active, .calendar-change-month-forward:active { background-color: rgba(242, 242, 242, 0.15); }

.calendar-change-month-back { background-image: url("assets/misc/calendar-arrow-left.svg"); }

.calendar-change-month-back:rtl { background-image: url("assets/misc/calendar-arrow-right.svg"); }

.calendar-change-month-forward { background-image: url("assets/misc/calendar-arrow-right.svg"); }

.calendar-change-month-forward:rtl { background-image: url("assets/misc/calendar-arrow-left.svg"); }

.datemenu-date-label { font-size: 8pt; padding: 0.4em 1.75em; border-radius: 2px; color: #f2f2f2; font-weight: 700; text-align: center; }

.calendar-day { border-width: 0; color: #f2f2f2; }

.calendar-day-base { font-size: 8pt; width: 25px; height: 25px; padding: 0; margin: 2px; border-radius: 25px; text-align: center; }

.calendar-day-heading { font-size: 7pt; width: 25px; height: 20px; margin-top: 2px; padding: 5px 0 0; background-color: transparent; color: rgba(242, 242, 242, 0.4); font-weight: 700; text-align: center; }

.calendar-day-top { border-top-width: 0; }

.calendar-day-left { border-left-width: 0; }

.calendar-day-with-events { background-image: none; color: #faa41a; font-weight: 400; text-decoration: underline; }

.calendar-week-number { width: 25px; height: 20px; margin: 2px; padding: 5px 0 0; background-color: transparent; color: rgba(242, 242, 242, 0.4); font-weight: 700; font-size: inherit; text-align: center; }

.calendar-nonwork-day { color: rgba(242, 242, 242, 0.75); background-color: transparent; }

.calendar-today { border-width: 0; color: #f2f2f2; background-color: #48B9C7; font-weight: 700; }

.calendar-other-month-day { color: rgba(242, 242, 242, 0.4); }

#notification { width: 34em; spacing-rows: 10px; spacing-columns: 10px; margin-from-right-edge-of-screen: 20px; padding: 13px; border-radius: 2px; border-image: url("assets/misc/osd.svg") 9 9 9 9; color: #f2f2f2; }

.menu #notification, .menu #notification.multi-line-notification, .popup-menu #notification, .popup-menu #notification.multi-line-notification { border-image: url("assets/misc/message.svg") 9 9 9 9; color: #f2f2f2; }

.menu #notification .notification-button, .menu #notification .notification-icon-button, .popup-menu #notification .notification-button, .popup-menu #notification .notification-icon-button { padding: 5px; }

#notification.multi-line-notification { padding-bottom: 13px; color: #f2f2f2; }

#notification-scrollview { max-height: 10em; }

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow { height: 1em; }

#notification-scrollview:ltr > StScrollBar { padding-left: 6px; }

#notification-scrollview:rtl > StScrollBar { padding-right: 6px; }

#notification-body { spacing: 5px; }

#notification-actions { spacing: 10px; }

.notification-with-image { min-height: 159px; color: #f2f2f2; }

.notification-button, .notification-icon-button { padding: 5px; }

.notification-icon-button > StIcon { icon-size: 36px; }

#altTabPopup { padding: 8px; spacing: 16px; }

.switcher-list { padding: 20px; border: none; border-image: url("assets/misc/osd.svg") 9 9 9 9; border-radius: 2px; color: #f2f2f2; background: none; }

.switcher-list > StBoxLayout { padding: 4px; }

.switcher-list-item-container { spacing: 8px; }

.switcher-list .item-box { padding: 8px; border-radius: 2px; }

.switcher-list .item-box:outlined { padding: 6px; border: 2px solid rgba(242, 242, 242, 0.15); }

.switcher-list .item-box:selected { background-color: rgba(250, 164, 26, 0.25); color: #f7c370; }

.switcher-list .thumbnail { width: 256px; }

.switcher-list .thumbnail-box { padding: 2px; spacing: 4px; }

.switcher-list .separator { width: 1px; background: rgba(0, 0, 0, 0.13); }

.switcher-arrow { border-color: transparent; color: #f2f2f2; }

.switcher-arrow:highlighted { border-color: transparent; color: #f2f2f2; }

.thumbnail-scroll-gradient-left { width: 60px; border-radius: 24px; border-radius-topright: 0; border-radius-bottomright: 0; background-color: transparent; }

.thumbnail-scroll-gradient-right { width: 60px; border-radius: 24px; border-radius-topleft: 0; border-radius-bottomleft: 0; background-color: transparent; }

.ripple-box { width: 104px; height: 104px; background-image: url("assets/misc/corner-ripple.svg"); background-size: contain; }

.ripple-box:rtl { background-image: url("assets/misc/corner-ripple.svg"); }

.modal-dialog { padding: 0 5px 6px 5px; border: none; border-radius: 2px; color: #f2f2f2; background-color: rgba(70, 63, 59, 0.9); box-shadow: 0 8px 10px rgba(0, 0, 0, 0.34); }

.modal-dialog > StBoxLayout:first-child { padding: 20px 10px 10px 10px; }

.modal-dialog-button-box { spacing: 0; margin: 0; padding: 14px 10px; border: none; background: none; }

.modal-dialog-button-box .modal-dialog-button { height: 30px; padding-top: 0; padding-bottom: 0; color: rgba(247, 195, 112, 0.8); font-weight: 700; }

.modal-dialog-button-box .modal-dialog-button:hover { color: #f7c370; background-color: rgba(250, 164, 26, 0.1); }

.modal-dialog-button-box .modal-dialog-button:focus { color: #f7c370; }

.modal-dialog-button-box .modal-dialog-button:active { color: #f7c370; background-color: rgba(250, 164, 26, 0.25); box-shadow: 0 0 transparent; }

.modal-dialog-button-box .modal-dialog-button:disabled { color: rgba(242, 242, 242, 0.5); }

.run-dialog { padding: 0 15px 10px 15px; border-image: url("assets/misc/osd.svg") 9 9 9 9; }

.run-dialog > * { padding: 0; }

.run-dialog-label { font-size: 9pt; padding-bottom: 0; color: rgba(242, 242, 242, 0.5); font-weight: 400; }

.run-dialog-error-label { color: #f15d22; }

.run-dialog-error-box { font-size: 9pt; padding-top: 15px; spacing: 5px; color: #f15d22; }

.run-dialog-completion-box { font-size: 10pt; padding-left: 15px; }

.run-dialog-entry { border-color: transparent; background-color: rgba(0, 0, 0, 0.01); box-shadow: inset 0 -1px rgba(242, 242, 242, 0.4); width: 28em; padding: 7px; border-radius: 0; color: #f2f2f2; caret-color: #f2f2f2; selected-color: #f2f2f2; selection-background-color: #48B9C7; }

.run-dialog-entry:focus { border-color: transparent; background-color: rgba(0, 0, 0, 0.01); color: #f2f2f2; caret-color: #f2f2f2; box-shadow: inset 0 -2px #FAA41A; }

.run-dialog .modal-dialog-button-box { border: none; background: none; background-gradient-direction: none; box-shadow: 0 0 transparent; }

.cinnamon-mount-operation-icon { icon-size: 48px; }

.mount-password-reask { color: #ffce51; }

.show-processes-dialog, .mount-question-dialog { spacing: 24px; }

.show-processes-dialog-subject, .mount-question-dialog-subject { padding-top: 10px; padding-bottom: 6px; }

.show-processes-dialog-subject:ltr, .mount-question-dialog-subject:ltr { padding-left: 17px; }

.show-processes-dialog-subject:rtl, .mount-question-dialog-subject:rtl { padding-right: 17px; }

.show-processes-dialog-description, .mount-question-dialog-description { width: 28em; }

.show-processes-dialog-description:ltr, .mount-question-dialog-description:ltr { padding-left: 17px; }

.show-processes-dialog-description:rtl, .mount-question-dialog-description:rtl { padding-right: 17px; }

.show-processes-dialog-app-list { max-height: 200px; padding-top: 24px; }

.show-processes-dialog-app-list:ltr { padding-left: 49px; padding-right: 32px; }

.show-processes-dialog-app-list:rtl { padding-right: 49px; padding-left: 32px; }

.show-processes-dialog-app-list-item { color: rgba(242, 242, 242, 0.75); }

.show-processes-dialog-app-list-item:hover { color: #f2f2f2; }

.show-processes-dialog-app-list-item:ltr { padding-right: 1em; }

.show-processes-dialog-app-list-item:rtl { padding-left: 1em; }

.show-processes-dialog-app-list-item-icon:ltr { padding-right: 17px; }

.show-processes-dialog-app-list-item-icon:rtl { padding-left: 17px; }

.show-processes-dialog-app-list-item-name { font-size: 11pt; }

.magnifier-zoom-region { border: 2px solid #48B9C7; }

.magnifier-zoom-region.full-screen { border-width: 0; }

#keyboard { border-width: 0; background-color: rgba(70, 63, 59, 0.7); }

#keyboard-layout { spacing: 10px; padding: 10px; }

#keyboard-row { spacing: 15px; }

#keyboard-key { font-size: 20pt; border-color: transparent; border-top: 1px solid rgba(255, 255, 255, 0.07); color: rgba(242, 242, 242, 0.75); background-color: #45413f; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22); text-shadow: none; icon-shadow: none; min-height: 2em; min-width: 2em; border-radius: 2px; border: 1px 0 0; color: inherit; font-weight: 700; }

#keyboard-key:focus { color: #f2f2f2; background-color: #45413f; box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

#keyboard-key:hover, #keyboard-key:checked { border-color: transparent; border-top: 1px solid rgba(255, 255, 255, 0.07); color: #f2f2f2; background-color: #45413f; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.28); text-shadow: none; icon-shadow: none; }

#keyboard-key:active { border-color: transparent; border-top: 1px solid rgba(255, 255, 255, 0.07); color: #f2f2f2; background-color: #45413f; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.28); text-shadow: none; icon-shadow: none; }

#keyboard-key:grayed { border-color: rgba(0, 0, 0, 0.13); background-color: #463f3b; color: #f2f2f2; }

#keyboard-subkeys { padding: 5px; border-radius: 2px; -arrow-border-radius: 0; -arrow-background-color: transparent; -arrow-border-width: 0; -arrow-border-color: transparent; -arrow-base: 0; -arrow-rise: 0; -boxpointer-gap: 5px; background-color: #45413f; color: #f2f2f2; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.28); }

.menu-favorites-box { padding: 7px; border-radius: 2px; border: 1px solid rgba(0, 0, 0, 0.13); background-color: #413e3c; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.28); }

.menu-favorites-box .popup-menu-item { min-width: 0; }

.menu-favorites-button { padding: 7px; border: 1px solid transparent; }

.menu-places-box { padding: 7px; border: 0 solid transparent; }

.menu-places-button { padding: 7px; }

.menu-categories-box { padding: 7px 20px 7px 20px; }

.menu-applications-inner-box, .menu-applications-outer-box { padding: 7px 7px 0 7px; }

.menu-application-button { padding: 7px; border: 1px solid transparent; color: rgba(242, 242, 242, 0.75); }

.menu-application-button:highlighted { font-weight: 700; }

.menu-application-button-selected { padding: 7px; border: 1px solid transparent; color: #f2f2f2; }

.menu-application-button-selected:highlighted { font-weight: 700; }

.menu-application-button-label:ltr { padding-left: 5px; }

.menu-application-button-label:rtl { padding-right: 5px; }

.menu-category-button { padding: 7px; border: 1px solid transparent; color: rgba(242, 242, 242, 0.75); }

.menu-category-button-selected { padding: 7px; border: 1px solid transparent; background-color: transparent; color: #48B9C7; }

.menu-category-button-hover { padding: 7px; border: 1px solid transparent; border-radius: 2px; color: #f2f2f2; }

.menu-category-button-greyed { padding: 7px; border: 1px solid transparent; color: rgba(242, 242, 242, 0.4); }

.menu-category-button-label:ltr { padding-left: 5px; }

.menu-category-button-label:rtl { padding-right: 5px; }

.menu-selected-app-box { height: 30px; padding: 0 30px; color: rgba(242, 242, 242, 0.4); text-align: right; }

.menu-selected-app-title { font-weight: 700; }

.menu-selected-app-description { max-width: 150px; }

.menu-search-box:ltr { padding-left: 30px; }

.menu-search-box-rtl { padding-right: 30px; }

#menu-search-entry { width: 24em; height: 1.2em; caret-color: #f2f2f2; font-weight: 500; }

.menu-search-entry-icon { icon-size: 16px; color: #f2f2f2; }

.info-osd { spacing: 1em; padding: 16px; border-image: url("assets/misc/osd.svg") 9 9 9 9; color: #f2f2f2; text-align: center; font-weight: 700; }

.osd-window { min-width: 64px; min-height: 64px; spacing: 1em; padding: 20px; margin: 32px; border: none; border-radius: 5px; border-image: url("assets/misc/osd.svg") 9 9 9 9; color: #f2f2f2; background: none; font-weight: 700; text-align: center; }

.osd-window .osd-monitor-label { font-size: 30pt; }

.osd-window .level { height: 3px; padding: 0; border-radius: 0; background-color: rgba(242, 242, 242, 0.2); color: #73c48f; }

.osd-window .level-bar { border-radius: 0; background-color: #73c48f; }

.window-list-box { spacing: 2px; }

.window-list-box .panel-top, .panel-bottom .window-list-box { padding: 0 0 0 8px; }

.window-list-box.vertical { padding: 6px 0 0 0; }

.window-list-item-label { width: 15em; min-width: 5px; font-weight: 700; }

.window-list-item-box { border: none; background-image: none; background-color: rgba(0, 0, 0, 0.01); color: rgba(242, 242, 242, 0.75); font-weight: 700; }

.window-list-item-box:hover { color: #f2f2f2; }

.panel-top .window-list-item-box:hover { box-shadow: inset 0 2px rgba(242, 242, 242, 0.4); }

.panel-bottom .window-list-item-box:hover { box-shadow: inset 0 -2px rgba(242, 242, 242, 0.4); }

.panel-left .window-list-item-box:hover { box-shadow: inset 2px 0 rgba(242, 242, 242, 0.4); }

.panel-right .window-list-item-box:hover { box-shadow: inset -2px 0 rgba(242, 242, 242, 0.4); }

.window-list-item-box:active, .window-list-item-box:active:hover, .window-list-item-box:checked, .window-list-item-box:checked:hover, .window-list-item-box:focus, .window-list-item-box:focus:hover { color: #f2f2f2; }

.panel-top .window-list-item-box:active, .panel-top .window-list-item-box:active:hover, .panel-top .window-list-item-box:checked, .panel-top .window-list-item-box:checked:hover, .panel-top .window-list-item-box:focus, .panel-top .window-list-item-box:focus:hover { box-shadow: inset 0 2px #FAA41A; }

.panel-bottom .window-list-item-box:active, .panel-bottom .window-list-item-box:active:hover, .panel-bottom .window-list-item-box:checked, .panel-bottom .window-list-item-box:checked:hover, .panel-bottom .window-list-item-box:focus, .panel-bottom .window-list-item-box:focus:hover { box-shadow: inset 0 -2px #FAA41A; }

.panel-left .window-list-item-box:active, .panel-left .window-list-item-box:active:hover, .panel-left .window-list-item-box:checked, .panel-left .window-list-item-box:checked:hover, .panel-left .window-list-item-box:focus, .panel-left .window-list-item-box:focus:hover { box-shadow: inset 2px 0 #FAA41A; }

.panel-right .window-list-item-box:active, .panel-right .window-list-item-box:active:hover, .panel-right .window-list-item-box:checked, .panel-right .window-list-item-box:checked:hover, .panel-right .window-list-item-box:focus, .panel-right .window-list-item-box:focus:hover { box-shadow: inset -2px 0 #FAA41A; }

.window-list-item-demands-attention { background-gradient-start: #FAA41A; background-gradient-end: #FAA41A; }

.sound-button { width: 22px; height: 13px; padding: 8px; }

.sound-button-container { padding-right: 3px; padding-left: 3px; }

.sound-button StIcon { icon-size: 1.4em; }

.sound-track-infos { padding: 5px; }

.sound-track-info { padding-top: 2px; padding-bottom: 2px; }

.sound-track-info StIcon { icon-size: 16px; }

.sound-track-info StLabel { padding-left: 5px; padding-right: 5px; }

.sound-track-box { max-width: 220px; padding-left: 15px; padding-right: 15px; }

.sound-seek-box { padding-left: 15px; }

.sound-seek-box StLabel { padding-top: 2px; }

.sound-seek-box StIcon { icon-size: 16px; }

.sound-seek-slider { width: 140px; }

.sound-volume-menu-item { padding: 0.4em 1.75em; }

.sound-volume-menu-item StIcon { icon-size: 1.09em; padding-left: 8px; padding-right: 8px; }

.sound-playback-control { padding: 5px 10px 10px 10px; }

.sound-player { padding: 0 4px; }

.sound-player > StBoxLayout:first-child { padding: 5px 10px 12px 10px; spacing: 0.5em; }

.sound-player > StBoxLayout:first-child StButton:small { width: 16px; height: 8px; padding: 1px; }

.sound-player > StBoxLayout:first-child StButton:small StIcon { icon-size: 12px; }

.sound-player-generic-coverart { background: rgba(0, 0, 0, 0.2); }

.sound-player-overlay { width: 290px; height: 70px; padding: 15px; spacing: 0.5em; border: 0 solid #2a2624; border-bottom: 1px; color: #f2f2f2; background: rgba(70, 63, 59, 0.9); }

.sound-player-overlay StButton { width: 22px; height: 13px; padding: 5px; border-radius: 2px; border: 1px solid transparent; color: #f2f2f2; }

.sound-player-overlay StButton:hover { border-color: transparent; color: #f2f2f2; background-color: rgba(242, 242, 242, 0.2); box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.sound-player-overlay StButton:active { border-color: transparent; color: #f2f2f2; background-color: rgba(242, 242, 242, 0.4); box-shadow: 0 0 transparent; text-shadow: none; icon-shadow: none; }

.sound-player-overlay StButton StIcon { icon-size: 16px; }

.sound-player-overlay StBoxLayout { padding-top: 2px; }

.sound-player-overlay StLabel { padding: 0 5px; }

.sound-player .slider { height: 8px; padding: 0; border: none; -slider-height: 2px; -slider-background-color: rgba(242, 242, 242, 0.15); -slider-border-color: transparent; -slider-active-background-color: #FAA41A; -slider-active-border-color: transparent; -slider-border-width: 0; -slider-handle-radius: 4px; }

#workspaceSwitcher { spacing: 0; padding: 3px; }

.panel-top .workspace-switcher, .panel-bottom .workspace-switcher { padding-left: 3px; padding-right: 3px; }

.panel-left .workspace-switcher, .panel-right .workspace-switcher { padding-top: 3px; padding-bottom: 3px; }

.workspace-button { width: 20px; height: 10px; color: rgba(242, 242, 242, 0.75); background-color: rgba(0, 0, 0, 0.01); transition-duration: 0.2s; }

.workspace-button:hover { color: #f2f2f2; }

.panel-top .workspace-button:hover { box-shadow: inset 0 2px 0 #FAA41A; }

.panel-bottom .workspace-button:hover { box-shadow: inset 0 -2px 0 #FAA41A; }

.panel-left .workspace-button:hover { box-shadow: inset 2px 0 0 #FAA41A; }

.panel-right .workspace-button:hover { box-shadow: inset -2px 0 0 #FAA41A; }

.workspace-button:outlined { color: #48B9C7; }

.panel-top .workspace-button:outlined:hover { box-shadow: inset 0 2px 0 #FAA41A; }

.panel-bottom .workspace-button:outlined:hover { box-shadow: inset 0 -2px 0 #FAA41A; }

.panel-left .workspace-button:outlined:hover { box-shadow: inset 2px 0 0 #FAA41A; }

.panel-right .workspace-button:outlined:hover { box-shadow: inset -2px 0 0 #FAA41A; }

.workspace-graph { padding: 3px; spacing: 3px; }

.workspace-graph .workspace { border: 1px solid rgba(0, 0, 0, 0.4); background-gradient-direction: none; background-color: rgba(0, 0, 0, 0.2); }

.workspace-graph .workspace:active { border: 1px solid #48B9C7; background-gradient-direction: none; }

.workspace-graph .workspace .windows { -active-window-background: #70645e; -active-window-border: rgba(0, 0, 0, 0.8); -inactive-window-background: #70645e; -inactive-window-border: rgba(0, 0, 0, 0.8); }

.workspace-graph .workspace:active .windows { -active-window-background: #7d716a; -active-window-border: rgba(0, 0, 0, 0.8); -inactive-window-background: #544b47; -inactive-window-border: rgba(0, 0, 0, 0.8); }

#panel-launchers-box { padding: 0 7px; }

.panel-launcher { border: 0 solid transparent; }

.panel-top .panel-launcher { padding: 0 4px 2px 4px; border-top-width: 2px; }

.panel-bottom .panel-launcher { padding: 2px 4px 0 4px; border-bottom-width: 2px; }

.panel-left .panel-launcher { padding: 2px 2px 2px 0; border-left-width: 2px; }

.panel-right .panel-launcher { padding: 2px 0 2px 2px; border-right-width: 2px; }

.panel-launcher:hover { border: 0 solid #FAA41A; background-gradient-direction: none; }

.panel-top .panel-launcher:hover { padding: 0 4px 2px 4px; border-top-width: 2px; }

.panel-bottom .panel-launcher:hover { padding: 2px 4px 0 4px; border-bottom-width: 2px; }

.panel-left .panel-launcher:hover { padding: 2px 2px 2px 0; border-left-width: 2px; }

.panel-right .panel-launcher:hover { padding: 2px 0 2px 2px; border-right-width: 2px; }

.launcher { padding: 2px; spacing: 2px; transition-duration: 0.2s; }

.launcher:hover { border: 0 solid #FAA41A; background-gradient-direction: none; }

.panel-top .launcher:hover { padding-top: 0; border-top-width: 2px; }

.panel-bottom .launcher:hover { padding-bottom: 0; border-bottom-width: 2px; }

.panel-left .launcher:hover { padding-left: 0; border-left-width: 2px; }

.panel-right .launcher:hover { padding-right: 0; border-right-width: 2px; }

.launcher .icon-box { padding: 0 2px; }

.launcher .icon-box.vertical { padding: 2px 0; }

.panel-launchers { padding: 0 0 0 4px; spacing: 2px; }

.panel-launchers.vertical { padding: 2px 0 0 0; spacing: 2px; }

.panel-launchers .launcher .icon-box { padding: 0 2px; }

.panel-launchers .launcher .icon-box.vertical { padding: 2px 0; }

.panel-launcher-add-dialog-content-box { padding: 6px; spacing: 20px; }

.panel-launcher-add-dialog-content-box-left { padding: 6px; spacing: 20px; }

.panel-launcher-add-dialog-content-box-right { padding: 6px; spacing: 10px; }

#overview-corner { background-image: url("assets/misc/overview.svg"); }

#overview-corner:hover { background-image: url("assets/misc/overview-hover.svg"); }

.applet-separator { padding: 1px 4px; }

.applet-separator-line { width: 1px; background: rgba(242, 242, 242, 0.12); }

.applet-separator-line-vertical { height: 1px; background: rgba(242, 242, 242, 0.12); }

.applet-box { color: rgba(242, 242, 242, 0.75); text-shadow: none; }

.applet-box:hover, .applet-box:checked { color: #f2f2f2; background-color: rgba(0, 0, 0, 0.01); }

.applet-box:highlight { background-color: rgba(250, 164, 26, 0.25); }

.panel-top .applet-box { padding: 0 3px; }

.panel-top .applet-box:hover, .panel-top .applet-box:checked { box-shadow: inset 0 2px 0 #FAA41A; }

.panel-bottom .applet-box { padding: 0 3px; }

.panel-bottom .applet-box:hover, .panel-bottom .applet-box:checked { box-shadow: inset 0 -2px 0 #FAA41A; }

.panel-left .applet-box { padding: 2px 0; }

.panel-left .applet-box:hover, .panel-left .applet-box:checked { box-shadow: inset 2px 0 0 #FAA41A; }

.panel-right .applet-box { padding: 2px 0; }

.panel-right .applet-box:hover, .panel-right .applet-box:checked { box-shadow: inset -2px 0 0 #FAA41A; }

.applet-label { color: rgba(242, 242, 242, 0.75); font-weight: 700; }

.applet-label:hover, .applet-box:hover .applet-label, .applet-box:checked .applet-label { color: #f2f2f2; text-shadow: none; }

.applet-icon { icon-size: 16px; color: rgba(242, 242, 242, 0.75); }

.applet-icon:hover, .applet-box:hover > .applet-icon, .applet-box:checked > .applet-icon { color: #f2f2f2; text-shadow: none; }

.user-icon { width: 32px; height: 32px; border: none; border-radius: 0; background-color: transparent; }

.user-label { font-size: 10pt; margin: 0; color: #f2f2f2; font-weight: 700; }

.desklet { color: rgba(242, 242, 242, 0.75); }

.desklet-with-borders { padding: 12px; padding-bottom: 16px; border-image: url("assets/misc/osd.svg") 9 9 9 9; color: #f2f2f2; }

.desklet-with-borders-and-header { padding: 12px; padding-bottom: 17px; border-radius: 0; border-radius-topleft: 0; border-radius-topright: 0; border-image: url("assets/misc/desklet.svg") 9 9 9 9; color: #f2f2f2; }

.desklet-header { font-size: 10pt; padding: 12px; padding-bottom: 6px; border-image: url("assets/misc/desklet-header.svg") 9 9 9 9; color: #f2f2f2; }

.desklet-drag-placeholder { border: 2px solid #FAA41A; background-color: rgba(250, 164, 26, 0.8); }

.desklet:highlight, .desklet:highlight-with-borders, .desklet:highlight-with-borders-and-header { background-color: rgba(250, 164, 26, 0.25); }

.photoframe-box { padding: 12px; padding-bottom: 16px; border-image: url("assets/misc/bg.svg") 9 9 9 9; color: #f2f2f2; }

.about-content { width: 550px; height: 250px; spacing: 8px; padding-bottom: 10px; }

.about-title { font-size: 20pt; font-weight: 700; }

.about-uuid { font-size: 10pt; color: rgba(242, 242, 242, 0.4); }

.about-icon { padding-right: 20px; padding-bottom: 14px; }

.about-scrollBox { padding: 4px; padding-right: 0; border: 1px solid rgba(0, 0, 0, 0.13); border-radius: 0; background-color: #413e3c; }

.about-scrollBox-innerBox { padding: 1.2em; spacing: 1.2em; }

.about-description { padding-top: 4px; padding-bottom: 16px; }

.about-version { font-size: 10pt; padding-left: 7px; color: rgba(242, 242, 242, 0.4); }

.workspace-osd { font-size: 30pt; padding: 0.2em 0.8em; border-radius: 2px; background-color: rgba(70, 63, 59, 0.9); color: #f2f2f2; box-shadow: 0 8px 10px rgba(0, 0, 0, 0.34); font-weight: 400; text-shadow: none; }

.expo-workspaces-name-entry { font-size: 9pt; -cinnamon-caption-spacing: 12px; height: 15px; padding: 4px 8px; border-radius: 0; color: rgba(242, 242, 242, 0.5); background-color: rgba(0, 0, 0, 0.01); caret-color: rgba(242, 242, 242, 0.5); caret-size: 1px; selection-background-color: #48B9C7; selected-color: #f2f2f2; font-weight: 700; }

.expo-workspaces-name-entry:focus { border-color: transparent; background-color: rgba(0, 0, 0, 0.01); color: #f2f2f2; caret-color: #f2f2f2; box-shadow: inset 0 -2px #FAA41A; }

.expo-workspaces-name-entry#selected { color: #f2f2f2; background-color: rgba(0, 0, 0, 0.01); }

.expo-workspace-thumbnail-frame { border-radius: 2px; border: 4px solid rgba(242, 242, 242, 0.2); background-color: transparent; }

.expo-workspace-thumbnail-frame#active { border-radius: 2px; border: 4px solid #48B9C7; }

.expo-background { background-color: #463f3b; }

.notification-applet-padding { padding: 0.5em 1em; }

.notification-applet-container { max-height: 100px; }

.flashspot { background-color: #f2f2f2; }

.tile-preview, .tile-preview.snap, .tile-hud, .tile-hud.snap { border: 1px solid #48B9C7; background-color: rgba(72, 185, 199, 0.2); }

.xkcd-box { padding: 6px; border: none; border-radius: 0; background-color: transparent; }

.systray { spacing: 2px; }
